html {
  font-size: 100%;
  color: $clr-grey-0;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  background: #E07371;
  animation: bganimation 40s infinite;
  overflow-x: hidden;
}

@keyframes bganimation {
  0% {background: #39AAB0;}
  25% {background: #E78F8E;}
  50% {background: #7AAE9C;}
  75%{background: #E2B265;}
  100% {background: #39AAB0;}
}

@keyframes coloranimation {
  0% {color: #129EA5;}
  25% {color: #F28482;}
  50% {color: #7AAE9C;}
  75%{color: #F1B555;}
  100% {color: #129EA5;}
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: $fs-l;
  color: #410807;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}

p {
  font-size: $fs-s;
  color: #410807;
}

a {
  color: #410807;
  font-size: $fs-s;
  text-decoration: none;
  font-weight: 600;
}
