html {
  font-size: 100%;
  color: $clr-grey-0;
  font-family: 'futura', sans-serif;
}

body {
  margin: 0;
  background: #E07371;
  animation: bganimation 30s infinite;
  //rgb(201, 213, 212)
  // 	213, 201, 202
}

@keyframes bganimation {
  0% {background: #E07371;}
  12.5% {background: #F5DEB3;}
  37.5% {background: #7AAE9C;}
  62.5%{background: #67ABB7;}
  87.5% {background: #E8D5F1;}
  100% {background: #E07371;}
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 500;
}

p {
  font-size: $fs-s;
  color: #410807;
  font-size: $fs-s;
}

a {
  color: #410807;
  font-size: $fs-s;
  text-decoration: none;

  &.current {
    color: #410807;
    font-weight: bold;
  }
}
