@import 'abstracts/colors';
@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'components/nav';

@import 'layouts/main';
@import 'layouts/page';

@import 'pages/index';

@import 'theme/base';

@font-face {
  font-family: 'futura';
  font-style: normal;
  src: local('futura'), url('../fonts/futura.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
