.stretch {
  color: #410807;
  font-family: 'Space Grotesk', sans-serif;

  &.desktop {
    height: 0;
    display: none !important;
    visibility: hidden;
  }

  &.mobile {
    display: inline-block !important;
    visibility: visible;
  }
}

@media (min-width: 700px) {
  .stretch.desktop {
    display: inline-block !important;
    visibility: visible;
  }
  .stretch.mobile {
    height: 0;
    display: none !important;
    visibility: hidden;
  }
}

.home-section {
  display: table;
  width: 100%;
  margin-top: 10rem;

  @include e('title') {
    display: table-row;
    width: 100%;
    padding: 0;

    h2 {
      margin-top: 0;
    }
  }
  @include e('paragraph') {
    display: table-row;
    vertical-align: top;
    text-align: left;
    width: 100%;
    padding: 0;

    p {
      margin-top: 0;
    }
  }
  @include e('email') {
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 7rem;
  }
}

.wrapper {
  display: flex;
  height: 10rem;
  width: 100vw;
}
.text {
  white-space: nowrap;
  animation: scroll 13s infinite linear, coloranimation 30s infinite;
  font-size: 6.5rem;
  font-weight: 1000;
  font-family: 'Raleway', sans-serif;
  -webkit-text-stroke: 2px #410807;
}

@keyframes scroll {
  100% {
    transform: translateX(-100%);
  }
}

@media (min-width: 1000px) {
  .home-section {
    @include e('title') {
      display: table-cell;
      width: 30%;
      padding-right: 10rem;
    }
    @include e('paragraph') {
      display: table-cell;
      width: 40%;
      max-width: 5rem;
    }
  }
}
