.main {
  margin: 1.25rem 2rem 0 2rem;
}

@media (min-width: 700px) {
  .main {
    margin: 1.25rem 5rem 0 5rem;
  }
}

@media (min-width: calc(80rem + 10rem)) {
  .main {
    max-width: 80rem;
    margin: 1.25rem auto 0 auto;
  }
}
